/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 

/* SHOW ALL ELEMENTS HIGHLIGHTED IN RED   */
/* line 7, ../sass/styles.scss */
* {
  border: 1px solid red !important;
}

/* Page Transition Effects */
/* line 3, ../sass/_page-transitions.scss */
.page.ng-leave {
  z-index: 9999;
  -webkit-animation: fadeOut .5s both ease-in;
  -moz-animation: fadeOut .5s both ease-in;
  animation: fadeOut .5s both ease-in;
}

/* line 10, ../sass/_page-transitions.scss */
.page.ng-enter {
  z-index: 8888;
  -webkit-animation: fadeIn .5s both ease-in;
  -moz-animation: fadeIn .5s both ease-in;
  animation: fadeIn .5s both ease-in;
}

/* Page specific animations ------------------------ 

.page-home.ng-leave        {  
    -webkit-animation:fadeOut .5s both ease-in;
    -moz-animation:fadeOut .5s both ease-in;
    animation:fadeOut .5s both ease-in;    
}

.page-home.ng-enter        {  
    -webkit-animation:fadeIn .5s both ease-in;
    -moz-animation:fadeIn .5s both ease-in;
    animation:fadeIn .5s both ease-in;   
}

.page-about.ng-leave        {
    -webkit-animation:slideOutRight 0.5s both ease-in;
    -moz-animation:slideOutRight 0.5s both ease-in;
    animation:slideOutRight 0.5s both ease-in;   
}
.page-about.ng-enter        {  
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;    
}

.page-contact.ng-leave        {
    -webkit-animation:slideOutRight 0.5s both ease-in;
    -moz-animation:slideOutRight 0.5s both ease-in;
    animation:slideOutRight 0.5s both ease-in;   
}
.page-contact.ng-enter        {  
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;    
}

*/
/* Fonts
font-family: 'Palanquin', sans-serif;
font-family: 'Istok Web', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
/* line 17, ../sass/_home.scss */
.home-container {
  position: relative;
  min-height: 700px;
  height: 100vh;
  width: 100vw;
  background-color: #1A1A1A;
}

/* line 26, ../sass/_home.scss */
.home-content {
  min-width: 300px;
  max-width: 700px;
  height: 50%;
  /* Set your own height: percents, ems, whatever! */
  width: 50%;
  /* Set your own width: percents, ems, whatever! */
  margin: auto;
  /* Center the item vertically & horizontally */
  position: absolute;
  /* Break it out of the regular flow */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Set the bounds in which to center it, relative to its parent/container */
}
/* line 37, ../sass/_home.scss */
.home-content h1 {
  font-size: 4.5em;
  color: #E6E6E6;
  font-family: 'Istok Web', sans-serif;
}
/* line 44, ../sass/_home.scss */
.home-content p {
  font-family: 'Palanquin', sans-serif;
  font-size: 1.66rem;
  font-weight: 200;
}
/* line 51, ../sass/_home.scss */
.home-content p.pronounce {
  color: #B1B1B1;
}
/* line 56, ../sass/_home.scss */
.home-content p.verb {
  color: #B1B1B1;
  font-style: italic;
}
/* line 62, ../sass/_home.scss */
.home-content .description {
  color: #E6E6E6;
}
/* line 67, ../sass/_home.scss */
.home-content p.description {
  position: relative;
}
/* line 72, ../sass/_home.scss */
.home-content span.description {
  position: absolute;
  float: left;
  left: -25px;
}
/* line 79, ../sass/_home.scss */
.home-content .skills-header {
  margin-top: 25px;
  color: #B1B1B1;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* line 87, ../sass/_home.scss */
.home-content .skills {
  padding-top: 10px;
  overflow: hidden;
}
/* line 91, ../sass/_home.scss */
.home-content .skills p {
  float: left;
  border-style: solid;
  border-radius: 25px;
  padding: 5px;
  margin-right: 5px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #B1B1B1;
}
/* line 105, ../sass/_home.scss */
.home-content .green {
  border-color: #92FF6E;
  border-width: 2px;
}
/* line 110, ../sass/_home.scss */
.home-content .blue {
  border-color: #32CFE0;
  border-width: 2px;
  min-width: 50px;
}
/* line 117, ../sass/_home.scss */
.home-content .orange {
  border-color: #DD9833;
  border-width: 2px;
  min-width: 50px;
}

@media (max-width: 768px) {
  /* line 135, ../sass/_home.scss */
  .home-content {
    top: -20%;
  }
  /* line 139, ../sass/_home.scss */
  .home-content h1 {
    font-size: 2.75em;
  }
  /* line 144, ../sass/_home.scss */
  .home-content p {
    font-size: 1.5rem;
  }
}
/* Fonts
font-family: 'Palanquin', sans-serif;
font-family: 'Istok Web', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rozha One', serif;
*/
/* line 24, ../sass/_works.scss */
.works-container {
  position: relative;
  width: 100vw;
  background-color: #1A1A1A;
}

/* line 32, ../sass/_works.scss */
.works-header {
  text-align: center;
}
/* line 36, ../sass/_works.scss */
.works-header p {
  font-family: 'Palanquin', sans-serif;
  font-weight: 100;
  color: #E6E6E6;
}
/* line 42, ../sass/_works.scss */
.works-header p.header {
  font-size: 2.25rem;
}
/* line 46, ../sass/_works.scss */
.works-header p.pronounce {
  position: relative;
  top: -5px;
  font-size: 1.45rem;
  color: #B1B1B1;
}

/* line 55, ../sass/_works.scss */
.works-content {
  text-align: center;
  padding: 0;
}

/* line 60, ../sass/_works.scss */
.tile {
  display: inline-block;
  width: 400px;
  height: 400px;
  margin: 20px;
  transition: .5s ease;
}
/* line 17, ../sass/_works.scss */
.tile:hover, .tile:focus, .tile:active {
  background-color: #32CFE0;
  transform: scale(1.03);
  transition: .5s ease;
}
/* line 73, ../sass/_works.scss */
.tile p {
  font-family: 'Rozha One', serif;
  position: absolute;
  font-size: 18px;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .5s ease;
}
/* line 86, ../sass/_works.scss */
.tile img {
  opacity: 1;
  transition: .5s ease;
}

/* line 94, ../sass/_works.scss */
.tile:hover p, .tile:focus p, .tile:active p {
  opacity: 1;
}
/* line 97, ../sass/_works.scss */
.tile:hover img, .tile:focus img, .tile:active img {
  opacity: 0;
}

@media (max-width: 768px) {
  /* line 111, ../sass/_works.scss */
  .tile {
    width: 325px;
    height: 325px;
  }
}
/* Fonts
font-family: 'Palanquin', sans-serif;
font-family: 'Istok Web', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
/* line 17, ../sass/_case-study.scss */
.study-container {
  height: 100vh;
  width: 100vw;
  background-color: #2C4770;
}

/* line 26, ../sass/_case-study.scss */
.study-content {
  margin: auto;
  max-width: 550px;
  min-width: 300px;
}
/* line 32, ../sass/_case-study.scss */
.study-content h1 {
  font-size: 4.5em;
  color: #E6E6E6;
  font-family: 'Istok Web', sans-serif;
}
/* line 39, ../sass/_case-study.scss */
.study-content p {
  font-family: 'Palanquin', sans-serif;
  font-size: 1.66rem;
  font-weight: 200;
}
/* line 46, ../sass/_case-study.scss */
.study-content p.pronounce {
  color: #B1B1B1;
}
/* line 51, ../sass/_case-study.scss */
.study-content p.verb {
  color: #B1B1B1;
  font-style: italic;
}
/* line 57, ../sass/_case-study.scss */
.study-content .description {
  color: #E6E6E6;
}
/* line 62, ../sass/_case-study.scss */
.study-content p.description {
  position: relative;
}
/* line 67, ../sass/_case-study.scss */
.study-content span.description {
  position: absolute;
  float: left;
  left: -25px;
}
/* line 74, ../sass/_case-study.scss */
.study-content .skills-header {
  margin-top: 25px;
  color: #B1B1B1;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* line 82, ../sass/_case-study.scss */
.study-content .skills {
  padding-top: 10px;
}
/* line 85, ../sass/_case-study.scss */
.study-content .skills p {
  float: left;
  border-style: solid;
  border-radius: 25px;
  padding: 5px;
  margin-right: 5px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #B1B1B1;
}
/* line 99, ../sass/_case-study.scss */
.study-content .green {
  border-color: #92FF6E;
  border-width: 2px;
}
/* line 104, ../sass/_case-study.scss */
.study-content .blue {
  border-color: #32CFE0;
  border-width: 2px;
  min-width: 50px;
}
/* line 111, ../sass/_case-study.scss */
.study-content .orange {
  border-color: #DD9833;
  border-width: 2px;
  min-width: 50px;
}

@media (max-width: 768px) {
  /* line 126, ../sass/_case-study.scss */
  .study-content h1 {
    font-size: 2.75em;
  }
  /* line 131, ../sass/_case-study.scss */
  .study-content p {
    font-size: 1.5rem;
  }

  /* line 136, ../sass/_case-study.scss */
  .study-image {
    margin: auto;
  }
}
/* line 1, ../sass/_blog.scss */
.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* line 7, ../sass/_blog.scss */
.red {
  background-color: red;
  height: 50%;
  /* Set your own height: percents, ems, whatever! */
  width: 50%;
  /* Set your own width: percents, ems, whatever! */
  margin: auto;
  /* Center the item vertically & horizontally */
  position: absolute;
  /* Break it out of the regular flow */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Set the bounds in which to center it, relative to its parent/container */
}

/* line 22, ../sass/styles.scss */
.page {
  position: absolute;
}

/* line 27, ../sass/styles.scss */
.page-home {
  background-color: #E7E7E7;
  width: 100vw;
}

/* line 28, ../sass/styles.scss */
.page-contact {
  background-color: #66DF4C;
  height: 400vh;
  width: 100vw;
}

/* line 29, ../sass/styles.scss */
.page-about {
  background-color: #506AC0;
  height: 400vh;
  width: 100vw;
}

/* line 33, ../sass/styles.scss */
.nav {
  width: 100%;
  padding: 25px 25px 0px;
}
/* line 38, ../sass/styles.scss */
.nav ul > li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: inline;
  font-size: 1.75rem;
  margin-left: 3rem;
  color: #E6E6E6;
}
