/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 

/* SHOW ALL ELEMENTS HIGHLIGHTED IN RED   */
/* line 7, ../sass/styles.scss */
* {
  border: 1px solid red !important;
}

/* Page Transition Effects */
/* line 3, ../sass/_page-transitions.scss */
.page.ng-leave {
  z-index: 9999;
  -webkit-animation: fadeOut .5s both ease-in;
  -moz-animation: fadeOut .5s both ease-in;
  animation: fadeOut .5s both ease-in;
}

/* line 10, ../sass/_page-transitions.scss */
.page.ng-enter {
  z-index: 8888;
  -webkit-animation: fadeIn .5s both ease-in;
  -moz-animation: fadeIn .5s both ease-in;
  animation: fadeIn .5s both ease-in;
}

/* Page specific animations ------------------------ 

.page-home.ng-leave        {  
    -webkit-animation:fadeOut .5s both ease-in;
    -moz-animation:fadeOut .5s both ease-in;
    animation:fadeOut .5s both ease-in;    
}

.page-home.ng-enter        {  
    -webkit-animation:fadeIn .5s both ease-in;
    -moz-animation:fadeIn .5s both ease-in;
    animation:fadeIn .5s both ease-in;   
}

.page-about.ng-leave        {
    -webkit-animation:slideOutRight 0.5s both ease-in;
    -moz-animation:slideOutRight 0.5s both ease-in;
    animation:slideOutRight 0.5s both ease-in;   
}
.page-about.ng-enter        {  
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;    
}

.page-contact.ng-leave        {
    -webkit-animation:slideOutRight 0.5s both ease-in;
    -moz-animation:slideOutRight 0.5s both ease-in;
    animation:slideOutRight 0.5s both ease-in;   
}
.page-contact.ng-enter        {  
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;    
}

*/
/* line 2, ../sass/_home.scss */
.home-container, .blog-container {
  position: relative;
  min-height: 700px;
  height: 100vh;
  width: 100vw;
  background-color: #1A1A1A;
}

/* line 13, ../sass/_home.scss */
.home-content, .blog-content {
  min-width: 300px;
  max-width: 700px;
  min-height: 500px;
  height: 50%;
  /* Set your own height: percents, ems, whatever! */
  width: 50%;
  /* Set your own width: percents, ems, whatever! */
  margin: auto;
  /* Center the item vertically & horizontally */
  position: absolute;
  /* Break it out of the regular flow */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Set the bounds in which to center it, relative to its parent/container */
}
/* line 25, ../sass/_home.scss */
.home-content h1, .blog-content h1 {
  font-size: 4.5em;
  color: #E6E6E6;
  font-family: 'Istok Web', sans-serif;
}
/* line 32, ../sass/_home.scss */
.home-content p, .blog-content p {
  font-family: 'Palanquin', sans-serif;
  font-size: 1.66rem;
  font-weight: 200;
}
/* line 39, ../sass/_home.scss */
.home-content p.pronounce, .blog-content p.pronounce {
  color: #B1B1B1;
}
/* line 44, ../sass/_home.scss */
.home-content p.verb, .blog-content p.verb {
  color: #B1B1B1;
  font-style: italic;
}
/* line 50, ../sass/_home.scss */
.home-content .description, .blog-content .description {
  color: #E6E6E6;
}
/* line 55, ../sass/_home.scss */
.home-content p.description, .blog-content p.description {
  position: relative;
}
/* line 60, ../sass/_home.scss */
.home-content span.description, .blog-content span.description {
  position: absolute;
  float: left;
  left: -25px;
}
/* line 67, ../sass/_home.scss */
.home-content .skills-header, .blog-content .skills-header {
  margin-top: 25px;
  color: #B1B1B1;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* line 75, ../sass/_home.scss */
.home-content .skills, .blog-content .skills {
  padding-top: 10px;
}
/* line 78, ../sass/_home.scss */
.home-content .skills p, .blog-content .skills p {
  float: left;
  border-style: solid;
  border-radius: 25px;
  padding: 5px;
  margin-right: 5px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #B1B1B1;
}
/* line 92, ../sass/_home.scss */
.home-content .border, .blog-content .border, .home-content .green, .blog-content .green, .home-content .blue, .blog-content .blue, .home-content .orange, .blog-content .orange {
  border-width: 2px;
  min-width: 50px;
}
/* line 97, ../sass/_home.scss */
.home-content .green, .blog-content .green {
  border-color: #92FF6E;
}
/* line 102, ../sass/_home.scss */
.home-content .blue, .blog-content .blue {
  border-color: #32CFE0;
}
/* line 107, ../sass/_home.scss */
.home-content .orange, .blog-content .orange {
  border-color: #DD9833;
}

@media (max-width: 768px) {
  /* line 127, ../sass/_home.scss */
  .home-content h1, .blog-content h1 {
    font-size: 2.75em;
  }
  /* line 132, ../sass/_home.scss */
  .home-content p, .blog-content p {
    font-size: 1.5rem;
  }
}
/* line 2, ../sass/_works.scss */
.works-container {
  position: relative;
  width: 100vw;
  background-color: #1A1A1A;
}

/* line 10, ../sass/_works.scss */
.works-header {
  text-align: center;
}
/* line 14, ../sass/_works.scss */
.works-header p {
  font-family: 'Palanquin', sans-serif;
  font-weight: 100;
  color: #E6E6E6;
}
/* line 20, ../sass/_works.scss */
.works-header p.header {
  font-size: 2.25rem;
}
/* line 24, ../sass/_works.scss */
.works-header p.pronounce {
  position: relative;
  top: -5px;
  font-size: 1.45rem;
  color: #B1B1B1;
}

/* line 33, ../sass/_works.scss */
.works-content {
  text-align: center;
  padding: 0;
}

/* line 38, ../sass/_works.scss */
.tile {
  display: inline-block;
  width: 400px;
  height: 400px;
  margin: 20px;
  transition: .5s ease;
}
/* line 23, ../sass/styles.scss */
.tile:hover, .tile:focus, .tile:active {
  background-color: #32CFE0;
  transform: scale(1.03);
  transition: .5s ease;
}
/* line 51, ../sass/_works.scss */
.tile p {
  font-family: 'Rozha One', serif;
  position: absolute;
  font-size: 18px;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .5s ease;
}
/* line 64, ../sass/_works.scss */
.tile img {
  opacity: 1;
  transition: .5s ease;
}

/* line 72, ../sass/_works.scss */
.tile:hover p, .tile:focus p, .tile:active p {
  opacity: 1;
}
/* line 75, ../sass/_works.scss */
.tile:hover img, .tile:focus img, .tile:active img {
  opacity: 0;
}

@media (max-width: 768px) {
  /* line 89, ../sass/_works.scss */
  .tile {
    width: 325px;
    height: 325px;
  }
}
/* line 2, ../sass/_case-study.scss */
.study-container, .nwc-container {
  padding: 0;
  position: relative;
}
/* line 6, ../sass/_case-study.scss */
.study-container .row, .nwc-container .row {
  margin: 0;
}

/* line 12, ../sass/_case-study.scss */
.nwc-container {
  background-color: #C66F61;
}

/* line 21, ../sass/_case-study.scss */
.study-content h1 {
  font-size: 4.5em;
  color: #E6E6E6;
  font-family: 'Istok Web', sans-serif;
}
/* line 28, ../sass/_case-study.scss */
.study-content p {
  font-family: 'Palanquin', sans-serif;
  font-size: 1.66rem;
  font-weight: 200;
}
/* line 35, ../sass/_case-study.scss */
.study-content p.pronounce {
  color: #F7E4B6;
}
/* line 40, ../sass/_case-study.scss */
.study-content p.verb {
  color: #F7E4B6;
  font-style: italic;
}
/* line 46, ../sass/_case-study.scss */
.study-content .description {
  color: #E6E6E6;
}
/* line 51, ../sass/_case-study.scss */
.study-content p.description {
  position: relative;
}
/* line 56, ../sass/_case-study.scss */
.study-content span.description {
  position: absolute;
  float: left;
  left: -25px;
}
/* line 63, ../sass/_case-study.scss */
.study-content .skills-header {
  margin-top: 25px;
  color: #E6E6E6;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* line 71, ../sass/_case-study.scss */
.study-content .skills {
  overflow: auto;
  padding-top: 10px;
}
/* line 75, ../sass/_case-study.scss */
.study-content .skills p {
  float: left;
  border-style: solid;
  border-radius: 25px;
  padding: 5px;
  margin-right: 5px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #E6E6E6;
}
/* line 89, ../sass/_case-study.scss */
.study-content .border, .study-content .green, .study-content .blue, .study-content .orange {
  border-width: 2px;
  min-width: 50px;
}
/* line 94, ../sass/_case-study.scss */
.study-content .green {
  border-color: #92FF6E;
}
/* line 99, ../sass/_case-study.scss */
.study-content .blue {
  border-color: #32CFE0;
}
/* line 104, ../sass/_case-study.scss */
.study-content .orange {
  border-color: #DD9833;
}

@media (max-width: 768px) {
  /* line 118, ../sass/_case-study.scss */
  .study-content h1 {
    font-size: 2.75em;
  }
  /* line 123, ../sass/_case-study.scss */
  .study-content p {
    font-size: 1.5rem;
  }

  /* line 128, ../sass/_case-study.scss */
  .study-image {
    margin: auto;
  }
}
/* line 37, ../sass/styles.scss */
.page {
  position: absolute;
}

/* line 42, ../sass/styles.scss */
.page-home {
  background-color: #E7E7E7;
  width: 100vw;
}

/* line 43, ../sass/styles.scss */
.page-contact {
  background-color: #66DF4C;
}

/* line 44, ../sass/styles.scss */
.page-about {
  background-color: #506AC0;
}

/* line 45, ../sass/styles.scss */
.page-nwc {
  background-color: #C66F61;
}

/* line 48, ../sass/styles.scss */
.nav {
  width: 100vw;
  padding: 25px 25px 0px;
}
/* line 53, ../sass/styles.scss */
.nav ul > li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: inline;
  font-size: 1.75rem;
  margin-left: 3rem;
  color: #E6E6E6;
}
