/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 

/* SHOW ALL ELEMENTS HIGHLIGHTED IN RED  
* {
   border: 1px solid red !important;
}
*/
/* Page Transition Effects */
/* line 3, ../sass/_page-transitions.scss */
.page.ng-leave {
  z-index: 9999;
  -webkit-animation: fadeOut .5s both ease-in;
  -moz-animation: fadeOut .5s both ease-in;
  animation: fadeOut .5s both ease-in;
}

/* line 10, ../sass/_page-transitions.scss */
.page.ng-enter {
  z-index: 8888;
  -webkit-animation: fadeIn .5s both ease-in;
  -moz-animation: fadeIn .5s both ease-in;
  animation: fadeIn .5s both ease-in;
}

/* Page specific animations ------------------------ 

.page-home.ng-leave        {  
    -webkit-animation:fadeOut .5s both ease-in;
    -moz-animation:fadeOut .5s both ease-in;
    animation:fadeOut .5s both ease-in;    
}

.page-home.ng-enter        {  
    -webkit-animation:fadeIn .5s both ease-in;
    -moz-animation:fadeIn .5s both ease-in;
    animation:fadeIn .5s both ease-in;   
}

.page-about.ng-leave        {
    -webkit-animation:slideOutRight 0.5s both ease-in;
    -moz-animation:slideOutRight 0.5s both ease-in;
    animation:slideOutRight 0.5s both ease-in;   
}
.page-about.ng-enter        {  
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;    
}

.page-contact.ng-leave        {
    -webkit-animation:slideOutRight 0.5s both ease-in;
    -moz-animation:slideOutRight 0.5s both ease-in;
    animation:slideOutRight 0.5s both ease-in;   
}
.page-contact.ng-enter        {  
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;    
}

*/
/* line 2, ../sass/_home.scss */
.dict-container, .home-container, .blog-container {
  min-height: 100vh;
  position: relative;
  background-color: #1A1A1A;
}

/* line 9, ../sass/_home.scss */
.dict-content, .home-content, .blog-content {
  padding: 10px;
  min-width: 300px;
  max-width: 660px;
  margin: auto;
  /* Center the item vertically & horizontally */
}
/* line 17, ../sass/_home.scss */
.dict-content h1, .home-content h1, .blog-content h1 {
  font-size: 4.5em;
  color: #E6E6E6;
  font-family: 'Istok Web', sans-serif;
}
/* line 24, ../sass/_home.scss */
.dict-content p, .home-content p, .blog-content p {
  font-family: 'Palanquin', sans-serif;
  font-size: 1.66rem;
  font-weight: 200;
}
/* line 31, ../sass/_home.scss */
.dict-content p.pronounce, .home-content p.pronounce, .blog-content p.pronounce {
  color: #B1B1B1;
}
/* line 36, ../sass/_home.scss */
.dict-content p.verb, .home-content p.verb, .blog-content p.verb {
  color: #B1B1B1;
  font-style: italic;
}
/* line 42, ../sass/_home.scss */
.dict-content .description, .home-content .description, .blog-content .description {
  color: #E6E6E6;
}
/* line 47, ../sass/_home.scss */
.dict-content p.description, .home-content p.description, .blog-content p.description {
  position: relative;
  width: 100%;
  padding-left: 20px;
}
/* line 54, ../sass/_home.scss */
.dict-content span.description, .home-content span.description, .blog-content span.description {
  float: left;
}
/* line 59, ../sass/_home.scss */
.dict-content .skills-header, .home-content .skills-header, .blog-content .skills-header {
  margin-top: 25px;
  color: #B1B1B1;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* line 67, ../sass/_home.scss */
.dict-content .skills, .home-content .skills, .blog-content .skills {
  padding-top: 10px;
  overflow: auto;
}
/* line 71, ../sass/_home.scss */
.dict-content .skills p, .home-content .skills p, .blog-content .skills p {
  float: left;
  border-style: solid;
  border-radius: 25px;
  padding: 5px;
  margin-right: 5px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #B1B1B1;
}
/* line 85, ../sass/_home.scss */
.dict-content .border, .home-content .border, .blog-content .border, .dict-content .green, .home-content .green, .blog-content .green, .dict-content .blue, .home-content .blue, .blog-content .blue, .dict-content .orange, .home-content .orange, .blog-content .orange {
  border-width: 2px;
  min-width: 50px;
}
/* line 90, ../sass/_home.scss */
.dict-content .green, .home-content .green, .blog-content .green {
  border-color: #92FF6E;
}
/* line 95, ../sass/_home.scss */
.dict-content .blue, .home-content .blue, .blog-content .blue {
  border-color: #32CFE0;
}
/* line 100, ../sass/_home.scss */
.dict-content .orange, .home-content .orange, .blog-content .orange {
  border-color: #DD9833;
}

/* line 114, ../sass/_home.scss */
.home-content {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-height: 500px), screen and (max-width: 768px) {
  /* line 132, ../sass/_home.scss */
  .dict-content, .home-content, .blog-content {
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
  }
  /* line 140, ../sass/_home.scss */
  .dict-content h1, .home-content h1, .blog-content h1 {
    font-size: 2.75em;
  }
  /* line 145, ../sass/_home.scss */
  .dict-content p, .home-content p, .blog-content p {
    font-size: 1.5rem;
  }
}
/* line 2, ../sass/_works.scss */
.works-container {
  position: relative;
  width: 100vw;
  background-color: #1A1A1A;
}

/* line 10, ../sass/_works.scss */
.works-header {
  text-align: center;
}
/* line 14, ../sass/_works.scss */
.works-header p {
  font-family: 'Palanquin', sans-serif;
  font-weight: 100;
  color: #E6E6E6;
}
/* line 20, ../sass/_works.scss */
.works-header p.header {
  font-size: 2.25rem;
}
/* line 24, ../sass/_works.scss */
.works-header p.pronounce {
  position: relative;
  top: -5px;
  font-size: 1.45rem;
  color: #B1B1B1;
}

/* line 33, ../sass/_works.scss */
.works-row {
  text-align: center;
  padding: 0;
}

/* line 38, ../sass/_works.scss */
.tile {
  display: inline-block;
  width: 400px;
  height: 400px;
  margin: 20px;
  transition: .5s ease;
}
/* line 23, ../sass/styles.scss */
.tile:hover, .tile:focus, .tile:active {
  background-color: #32CFE0;
  transform: scale(1.03);
  transition: .5s ease;
}
/* line 51, ../sass/_works.scss */
.tile p {
  font-family: 'Rozha One', serif;
  position: absolute;
  font-size: 18px;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .5s ease;
}
/* line 64, ../sass/_works.scss */
.tile img {
  opacity: 1;
  transition: .5s ease;
}

/* line 72, ../sass/_works.scss */
.tile:hover p, .tile:focus p, .tile:active p {
  opacity: 1;
}
/* line 75, ../sass/_works.scss */
.tile:hover img, .tile:focus img, .tile:active img {
  opacity: 0;
}

@media (max-width: 960px) {
  /* line 88, ../sass/_works.scss */
  .tile {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 768px) {
  /* line 97, ../sass/_works.scss */
  .tile {
    width: 250px;
    height: 250px;
  }
}
/* line 2, ../sass/_case-study.scss */
.study-container, .nwc-container {
  padding: 0;
}
/* line 5, ../sass/_case-study.scss */
.study-container .row, .nwc-container .row {
  margin: 0;
}

/* line 14, ../sass/_case-study.scss */
.study-content h1, .nwc-content h1 {
  font-size: 4.5em;
  color: #E6E6E6;
  font-family: 'Istok Web', sans-serif;
}
/* line 21, ../sass/_case-study.scss */
.study-content p, .nwc-content p {
  font-family: 'Palanquin', sans-serif;
  font-size: 1.66rem;
  font-weight: 200;
}
/* line 28, ../sass/_case-study.scss */
.study-content p.pronounce, .nwc-content p.pronounce {
  color: #F7E4B6;
}
/* line 33, ../sass/_case-study.scss */
.study-content p.verb, .nwc-content p.verb {
  color: #F7E4B6;
  font-style: italic;
}
/* line 39, ../sass/_case-study.scss */
.study-content .description, .nwc-content .description {
  color: #E6E6E6;
}
/* line 44, ../sass/_case-study.scss */
.study-content p.description, .nwc-content p.description {
  position: relative;
  width: 100%;
  padding-left: 20px;
}
/* line 51, ../sass/_case-study.scss */
.study-content span.description, .nwc-content span.description {
  float: left;
}
/* line 57, ../sass/_case-study.scss */
.study-content .skills-header, .nwc-content .skills-header {
  margin-top: 25px;
  color: #E6E6E6;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* line 65, ../sass/_case-study.scss */
.study-content .skills, .nwc-content .skills {
  overflow: auto;
  padding-top: 10px;
}
/* line 69, ../sass/_case-study.scss */
.study-content .skills p, .nwc-content .skills p {
  float: left;
  border-style: solid;
  border-radius: 25px;
  padding: 5px;
  margin-right: 5px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #E6E6E6;
}
/* line 83, ../sass/_case-study.scss */
.study-content .border, .nwc-content .border, .study-content .green, .nwc-content .green, .study-content .blue, .nwc-content .blue, .study-content .orange, .nwc-content .orange {
  border-width: 2px;
  min-width: 50px;
}
/* line 88, ../sass/_case-study.scss */
.study-content .green, .nwc-content .green {
  border-color: #92FF6E;
}
/* line 93, ../sass/_case-study.scss */
.study-content .blue, .nwc-content .blue {
  border-color: #32CFE0;
}
/* line 98, ../sass/_case-study.scss */
.study-content .orange, .nwc-content .orange {
  border-color: #DD9833;
}

/* line 107, ../sass/_case-study.scss */
.nwc-container {
  background-color: #C66F61;
}
/* line 111, ../sass/_case-study.scss */
.nwc-container .row {
  margin: 0;
}

/* line 120, ../sass/_case-study.scss */
.nwc-content .col-lg-4 {
  float: none;
  position: relative;
}
/* line 125, ../sass/_case-study.scss */
.nwc-content .study-logo {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

@media (max-width: 768px) {
  /* line 141, ../sass/_case-study.scss */
  .study-content h1, .nwc-content h1 {
    font-size: 2.75em;
  }
  /* line 146, ../sass/_case-study.scss */
  .study-content p, .nwc-content p {
    font-size: 1.5rem;
  }

  /* line 151, ../sass/_case-study.scss */
  .study-image {
    margin: auto;
  }
}
/* line 37, ../sass/styles.scss */
.page {
  position: absolute;
}

/* line 42, ../sass/styles.scss */
.page-home {
  background-color: #E7E7E7;
  width: 100vw;
}

/* line 43, ../sass/styles.scss */
.page-contact {
  background-color: #66DF4C;
}

/* line 44, ../sass/styles.scss */
.page-about {
  background-color: #506AC0;
}

/* line 45, ../sass/styles.scss */
.page-nwc {
  background-color: #C66F61;
}

/* line 48, ../sass/styles.scss */
.nav {
  width: 100vw;
  padding: 25px 25px 0px;
}
/* line 53, ../sass/styles.scss */
.nav ul > li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: inline;
  font-size: 1.75rem;
  margin-left: 3rem;
  color: #E6E6E6;
}

/* line 63, ../sass/styles.scss */
.mobile-nav-btn {
  visibility: hidden;
  width: 40px;
  height: 40px;
  background-color: #DD9833;
}

/* line 70, ../sass/styles.scss */
.mobile-nav {
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  /* line 75, ../sass/styles.scss */
  .nav {
    padding: 1rem 1rem 0;
  }

  /* line 79, ../sass/styles.scss */
  .desktop-nav {
    visibility: hidden;
  }

  /* line 83, ../sass/styles.scss */
  .mobile-nav-btn {
    visibility: visible;
  }

  /* line 87, ../sass/styles.scss */
  .mobile-nav {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 50vh;
    background-color: #92FF6E;
  }
}
